server:
  port: 8088
spring:
  cloud:
    config:
      server:
        vault:
          host: localhost
          port: 8200
          scheme: http
          backend: my_storage
          authentication: TOKEN
          token: ${VAULT_TOKEN}
          default-key: application
  profiles:
    active: vault

logging:
  level:
    org.springframework : DEBUG